.navbar{
    height: 7em;
    width: 100%;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-items{
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    width: 50%;
  }