.Intro{
    border: 2px solid black;
    height: 35em;
    width: 100%;
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons{
    display: flex;
    gap: 20px;
}

.avatar{
    border: 2px solid black;
    height: 300px;
    width: 300px;
}